src/test/resources/input-test-files/LosAngelesTimes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="newspaperName" type="xs:string"/>
  <xs:element name="version" type="xs:float"/>
  <xs:element name="screenInfo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:short" name="width"/>
          <xs:attribute type="xs:short" name="height"/>
          <xs:attribute type="xs:byte" name="dpi"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="osInfo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name"/>
          <xs:attribute type="xs:float" name="version"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="appInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="newspaperName"/>
        <xs:element ref="version"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deviceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="screenInfo"/>
        <xs:element ref="osInfo"/>
        <xs:element ref="appInfo"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPages">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="editionDefId"/>
          <xs:attribute type="xs:date" name="publicationDate"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="epaperRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="deviceInfo"/>
        <xs:element ref="getPages"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>